Repository typedb/typedb-protocol, pull requests merged in 2024-01, with the labels that each got.

#193 Update grpc dependency labels
  WORKSPACE
  dependencies/vaticle/repositories.bzl
  grpc/rust/BUILD
Labels: type: build, priority: blocker, dependencies

#192 Migrate artifact hosting to cloudsmith
  .factory/automation.yml
  dependencies/vaticle/repositories.bzl
  grpc/nodejs/BUILD
  grpc/rust/BUILD
Labels: type: build

#194 Sync dependencies in CI
  .factory/automation.yml
Labels: type: build, priority: high
